<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">  
    <!-- Fonts -->
    <link href="" rel="stylesheet">       
    <!-- Font Awesome Kit Code -->
    <script src="https://kit.fontawesome.com/d0aa6eea1c.js" crossorigin="anonymous"></script>  

    <title>Cygnify Ltd</title>
</head>
<body data-spy="scroll" data-target="#list-example">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">Cygnify Ltd</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/consulting">Cygnify Consulting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-consulting">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services-consulting">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pricing-consulting">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>                
            </ul>
        </div>
    </nav>