<%- include("partials/header") %>

    <ul class="nav nav-pills d-flex justify-content-center fixed-top" id="services-scroll">
        <li class="nav-item">
            <a class="nav-link" href="#list-item-1">Strategy creation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#list-item-2">Operational performance
                </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#list-item-3">Capability evaluation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#list-item-4">Customer journey mapping</a>
        </li>     
        <li class="nav-item">
            <a class="nav-link" href="#list-item-5">Customer experience consulting</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="#list-item-6">Business transformation</a>
        </li>        
        <li class="nav-item">
            <a class="nav-link" href="#list-item-7">Training</a>
        </li>                              
    </ul>

<div class="container marketing">

        <div class="scrollspy-example" data-spy="scroll" data-target="#services-scroll" data-offset="0">
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Services</h1>
                <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example.</p>
            </div> 
            <hr class="featurette-divider">
            
            <div class="row featurette" id="list-item-1">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Strategy <span class="text-muted">Creation.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img src="/images/undraw_customer_survey_f9ur.png">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette" id="list-item-2">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Operational <span class="text-muted">Performance.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="/images/undraw_live_collaboration_2r4y.png">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette" id="list-item-3">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Capability <span class="text-muted">Evaluation.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img src="/images/undraw_data_xmfy.png">
                </div>
            </div>

            <hr class="featurette-divider">
        </div>
</div><!-- /.container -->

<%- include("partials/footer") %>